<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^(.+)$ index.php?url=$1 [QSA,L,NC]
</IfModule>

<Files *.php>
	Order Allow,Deny
	Deny from All
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

Options -Indexes
Options -MultiViews

#Error pages
ErrorDocument 206 /www/error/206.html
ErrorDocument 301 /www/error/301.html
ErrorDocument 302 /www/error/302.html
ErrorDocument 400 /www/error/400.html
ErrorDocument 401 /www/error/401.html
ErrorDocument 403 /www/error/403.html
ErrorDocument 404 /www/error/404.html
ErrorDocument 403 /www/error/403.html
